name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: sudo dpkg --add-architecture i386 && sudo apt update
    - run:  sudo apt-get install gcc-multilib g++-multilib libpng-dev && sudo apt install libx11-dev:i386 libxext-dev:i386
    - run: cd ./WaspSrc/nozzle/ && wget -o pak0.pak https://archive.org/download/quake-shareware-pak/PAK0.PAK && ls
    - run: cd ./WaspSrc && make clean && make && ./WaspSrc -nosound # for the most safest execution ;)
